/*
  Los estilos generales  de tipografía, botones, formularios, tarjetas y tablas  se manejan
  directamente con las clases de Bootstrap.

  */
body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Mantiene tu fuente */
    line-height: 1.5;
    background-color: #f8f9fa; /* Color de fondo claro de Bootstrap */
    color: #212529; /* Color de texto oscuro de Bootstrap */
    margin: 0; /* Elimina márgenes por defecto del body */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la vista */
    display: flex;
    flex-direction: column; /* Esencial para el sticky footer (flex-grow-1 en #root) */
    /* adding-top para compensar el navbar fijo */
    padding-top: 60px; /* Ajusta  la altura de navbar */
}

/* El #root crecerá para empujar el footer hacia abajo */
#root {
    flex-grow: 1; /* Permite que el contenido #root crezca y ocupe el espacio disponible */
}

/* Se puede mantener estas reglas para personalizar los enlaces */
a {
    font-weight: 500;
    color: #007bff; /* Un azul estándar de Bootstrap para enlaces */
    text-decoration: none; /* Elimina subrayado por defecto */
}

a:hover {
    color: #0056b3; /* Azul más oscuro al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}